/* Master Styles */
body {
  font-family: "Roboto", sans-serif;
  background-color: white;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
}

.brand {
  color: #4682b4;
}

/* Home Page */
.content-wrapper {
  color: black;
  font-size: 40px;
  text-align: center;
}

.content-wrapper-index {
  color: black;
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.right-content-column {
  margin-left: 50px;
  margin-right: 50px;
}

.left-content-column {
  margin-left: 50px;
  margin-right: 50px;
}

.center {
  padding-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.links {
  display: flex;
  padding: 30px;
  justify-content: center;
  justify-content: space-evenly;
}

.links-header {
  padding-top: 100px;
}

.head {
  text-align: center;
  padding-bottom: 25px;
  font-size: 60px;
}
/* Nav Styles */
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.right-column {
  display: flex;
}

.nav-wrapper > .right-column > div {
  margin-left: 20px;
  text-transform: uppercase;
}

.nav-link-wrapper {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
  color: #4682b4;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link-wrapper:hover {
  border-bottom: 1px solid #4682b4;
}

.nav-link-wrapper a:hover {
  color: #4682b4;
}

.active-nav-link {
  border-bottom: 1px solid #4682b4;
}

.active-nav-link a {
  color: #4682b4 !important;
}
/* Portfolio Styles */
.portfolio-items-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  padding: 50px;
}

.portfolio-item-wrapper {
  position: relative;
}

.portfolio-img-background {
  height: 350px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img-text-wrapper {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  margin-left: 50px;
  margin-right: 50px;
}

.img-text-wrapper .description {
  transition: 1s;
  font-weight: 1000;
  color: transparent;
}

.img-text-wrapper:hover .description {
  font-weight: 1000;
  color: #4682b4;
}

.img-darken {
  transition: 1s;
  filter: brightness(10%);
}

/* Experiences */

.job {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 50px;
  margin-left: 100px;
  margin-right: 100px;
  background-color: #f0f8ff;
}
.job-title {
  font-size: 25px;
  font-weight: bold;
}

.job-description {
  padding-top: 20px;
  font-size: 20px;
  font-weight: lighter;
}
